
$primarybackground: #01565D;
$secondarybackground: #C3C3C3;

$buttoncolor1: #01565D;
$buttoncolor2:  #023020;
$buttoncolor3: #FFA500;


$lightgrey: #72777e;
$lightwhite: #ffffff;
$lightblack: #2e3329;